{% extends "_base.html" %}

{% block content %}
    <h1>Add Item Type To Database</h1>
    {% include "_navbar.html" %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.item_name.label }}<br />
            {{ form.item_name(size=32) }}
        </p>
        <p>
            {{ form.item_desc.label }}<br />
            {{ form.item_desc(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <br />
    <br />
    <h1>Existing Item Types Records</h1>
    <table id="existing-table">
        <thead>
            <tr>
                <th>Item Type ID</th>
                <th>Item Type</th>
                <th>Item Type Description</th>
            </tr>
        </thead>
        <tbody>
            {% for itm in itemtypes %}
                <tr class="item">
                    <td class="type-id darken">{{ itm.type_id }}</td>
                    <td>{{ itm.item_name }}</td>
                    <td>{{ itm.item_desc }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script>
        let tid = "#existing-table";
        let headers = document.querySelectorAll(tid + " th");

        // Sort the table element when clicking on the table headers
        headers.forEach(function (element, i) {
            element.addEventListener("click", function () {
                w3.sortHTML(tid, ".item", "td:nth-child(" + (i + 1) + ")");
            });
            if (element.innerHTML == "Item Type ID") {
                element.click();
                element.click();
            }
        });
        let rows = document.getElementsByClassName("type-id");
        for (let i = 0; i < rows.length; i++) {
            rows[i].addEventListener("click", function() {
                let choice = "A";
                let options = ["Delete", "Update"];
                while (!options.includes(choice) && choice !== null){
                    choice = prompt("Record: " + rows[i].innerHTML + "\nType \"Delete\" to delete record\nType \"Update\" to update record")
                }
                if (choice !== null) {
                    if (choice == "Delete" && confirm("Are you sure you want to delete item type id of: " + rows[i].innerHTML)) {
                        window.location.href = window.location.href + "?delete=" + rows[i].innerHTML;
                    }
                    else if (choice == "Update") {
                        let new_name = prompt("Set Item Type Name:", rows[i].nextElementSibling.innerHTML);
                        let new_description = prompt("Set Item Type Description:", rows[i].nextElementSibling.nextElementSibling.innerHTML);
                        window.location.href = window.location.href + "?update=true&name=" + new_name + "&desc=" + new_description + "&id=" + rows[i].innerHTML;
                    }
                }
            });
        }
    </script>
{% endblock %}