{% extends "_base.html" %}

{% block content %}
    <h1>Add Item Type To Database</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.item_name.label }}<br />
            {{ form.item_name(size=32) }}
        </p>
        <p>
            {{ form.item_desc.label }}<br />
            {{ form.item_desc(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <br />
    <br />
    <h1>Existing Item Types Records</h1>
    <table id="existing-table">
        <thead>
            <tr>
                <th>Item Type ID</th>
                <th>Item Type</th>
                <th>Item Type Description</th>
            </tr>
        </thead>
        <tbody>
            {% for itm in itemtypes %}
                <tr class="item">
                    <td>{{ itm.type_id }}</td>
                    <td>{{ itm.item_name }}</td>
                    <td>{{ itm.item_desc }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script>
        let tid = "#exising-table";
        let headers = document.querySelectorAll(tid + " th");

        // Sort the table element when clicking on the table headers
        headers.forEach(function (element, i) {
            element.addEventListener("click", function () {
                w3.sortHTML(tid, ".item", "td:nth-child(" + (i + 1) + ")");
            });
            if (element.innerHTML == "Item Type ID") {
                element.click();
                element.click();
            }
        });
    </script>
{% endblock %}