{% extends "_base.html" %}

{% block content %}
    <h1>Add Item To Database</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.type_id.label }}<br />
            {{ form.type_id(size=32) }}
        </p>
        <p>
            {{ form.condition.label }}<br />
            {{ form.condition(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <br />
    <br />
    <h1>Existing Items</h1>
    <table id="existing-table">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Type ID</th>
                <th>Item Type Name</th>
                <th>Item Condition</th>
            </tr>
        </thead>
        <tbody>
            {% for itm in items %}
                <tr class="item">
                    <td>{{ itm.item_id }}</td>
                    <td>{{ itm.type_id }}</td>
                    <td>{{ itm.type_name }}</td>
                    <td>{{ itm.condition }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script>
        let tid = "#exising-table";
        let headers = document.querySelectorAll(tid + " th");

        // Sort the table element when clicking on the table headers
        headers.forEach(function (element, i) {
            element.addEventListener("click", function () {
                w3.sortHTML(tid, ".item", "td:nth-child(" + (i + 1) + ")");
            });
            if (element.innerHTML == "Item ID") {
                element.click();
                element.click();
            }
        });
    </script>
{% endblock %}